version: '{build}'
image: Visual Studio 2022

environment:
  JAVA_HOME: C:\Program Files\Microsoft\jdk-17.0.11.9-hotspot

cache:
  - C:\Users\appveyor\.gradle\caches

build_script:
  - gradlew.bat --no-daemon clean build

test: off
artifacts:
  - path: build\libs\*.jar
    name: app
