image: Visual Studio 2022

environment:
  matrix:
    - JDK_VERSION: 11

install:
  - java -version
  - chmod +x gradlew

build_script:
  # Сборка проекта
  - gradlew.bat build --info

  # Создать папку для артефакта
  - if not exist src\artifacts mkdir src\artifacts

  # Копировать jar в src/artifacts
  - copy build\libs\*.jar src\artifacts\app-mbank.jar

  # Запуск jar (опционально)
  - java -jar src\artifacts\app-mbank.jar

branches:
  only:
    - main


