image: Visual Studio 2022

environment:
  matrix:
    - JAVA_HOME: "C:\\Program Files\\AdoptOpenJDK\\jdk-11.0.18.10-hotspot"

install:
  - set PATH=%JAVA_HOME%\bin;%PATH%
  - java -version
  - chmod +x gradlew.bat

build_script:
  - gradlew.bat build --info
  - if not exist src\artifacts mkdir src\artifacts
  - copy build\libs\*.jar src\artifacts\app-mbank.jar
  - java -jar src\artifacts\app-mbank.jar

branches:
  only:
    - main
