image: Visual Studio 2022

environment:
  matrix:
    - JDK_VERSION: 8

install:
  - java -version
  - gradlew.bat --version

build_script:
  - gradlew.bat build --info
  - if not exist src\artifacts mkdir src\artifacts
  - copy build\libs\*.jar src\artifacts\app-mbank.jar
  - java -jar src\artifacts\app-mbank.jar &
  - timeout /t 10
  - gradlew.bat test

branches:
  only:
    - main